{{!< default}}

{{#contentFor 'pageStyles'}}
<link rel="stylesheet" type="text/css" href="/dist/faceRecognition.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/dist/faceRecognition.js"></script>
{{/contentFor}}

<div class="container">

  <div class="example example-tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="v-tabs-collections-tab" data-toggle="tab" href="#tabCollections">Collections</a>
      </li>
    </ul>
    <div class="tab-content" id="tabContent">
      <div class="tab-pane fade show active py-4" id="tabCollections">
        
        <table class="table table-sm table-striped table-fw-widget" id="table">
          <thead>
            <tr>
              <th>Collection ID</th>
              <th>Face model version</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <script type="text/html" id="template">
              <tr data-id="<%= id %>">
                <td><%= id %></td>
                <td><%= faceModelVersion %></td>
                <td class="actions text-nowrap">
                  <button action-delete class="btn btn-danger">Delete collection</button>
                </td>
              </tr>
            </script>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
