{{!< leftSidebar}}

{{#contentFor 'title'}}
Welcome
{{/contentFor}}

{{#contentFor 'pageStyles'}}
<link rel="stylesheet" type="text/css" href="/index.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/index.js"></script>
{{/contentFor}}

<h3 class="text-center">Welcome to Express Framework Easy Starter!</h3>
