{{!< default}}

{{#contentFor 'pageStyles'}}
<link rel="stylesheet" type="text/css" href="/dist/index.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/dist/index.js"></script>
{{/contentFor}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>