{{!< leftSidebar}}
{{#contentFor 'title'}}Welcome{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" href="/index.css">{{/contentFor}}
{{#contentFor 'script'}}<script src="/index.js"></script>{{/contentFor}}
<h1 class="text-center mt-5">Welcome to Express Framework Easy Starter!</h1>
