<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <!-- <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/dist/default.css">
  {{{block "pageStyles"}}}
</head>
<body>

  {{{body}}}

  <!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script> -->
  <!-- <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script> -->
  <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

  {{{block "pageScripts"}}}
</body>
</html>
